package models

import (
	"time"

	"gorm.io/gorm"
)

// {{.Model.Name}} represents the {{.Model.Name}} model in the database
type {{.Model.Name}} struct {
	{{range .Model.Fields}}
	{{.Name}} {{.Type}} `gorm:"{{.GormTag}}"`{{end}}

	// Timestamps
	CreatedAt time.Time
	UpdatedAt time.Time
	DeletedAt gorm.DeletedAt `gorm:"index"`
}

// TableName returns the table name for the {{.Model.Name}} model
func ({{.Model.Name}}) TableName() string {
	return "{{.Model.Name | ToSnakeCase}}s"
}